--extra-index-url https://download.pytorch.org/whl/cu126
# --extra-index-url https://pypi.ngc.nvidia.com
cutensor-cu12
cupy-cuda12x
torch
torchvision
torchaudio
torchinfo
torchcodec
torchdata
xformers
lightning
#torch_xla
#triton
#https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post5/triton-3.1.0-cp312-cp312-win_amd64.whl
