ipykernel
pylint
autopep8
python-dotenv
progressbar2
numpy
scipy
pandas
matplotlib
scikit-learn
scikit-image
einx[torch]
einops
trimesh
ultralytics
imageio
plotly
opencv-python
#chromadb
omegaconf
dependency-injector
easydict
accelerate
transformers
datasets[audio,vision]
-r requirements-torch.txt
